*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px dotted black;
}

.header{
    height: 50px;
}


.menu {
    @extend .header;

}

.content{
    height: 100px;
    display: flex;
    justify-content: space-between;
    .content-A{
        flex: 1;
    }

    .content-B{
        flex: 1;
    }

    .content-C{
        flex: 1;
    }
}


.footer{
    @extend .header;
}

@import 'responsive.scss';
