<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/demo.css">
</head>
<body>
    <div class="header">Header</div>
    <div class="menu">Menu</div>
    <div class="content">
        <div class="content-A">content A</div>
        <div class="content-B">content B</div>
        <div class="content-C">content C</div>
    </div>
    <div class="footer">Footer</div>
</body>
</html>