.nodemy{
    .card-column{
        min-width: 175px;
        display: flex;
        padding: 22px 15px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background: white;
        border-radius: 10px;
        background: white;
        box-shadow: 0px 2.21276593208313px 8.85106372833252px 0px rgba(15, 15, 15, 0.08);
        margin-right: 20px;
        img{
            width: 22px;
            height: 22px;
            border-radius: 50%;
        }
        p{
            margin-top: 10px;
        }
        p:nth-child(3){
            font-size: 11px;
        }
    }
    .navbar{
        padding: 30px 60px;
        .logo{
            padding: 8px 10px;
            background: var(--primary);
            border-radius: 12px;
            svg{
                fill: white;
            }
        }
        .info{
            * {margin: 0 5px}
           
            .avatar{
                width: 33px;
                height: 33px;
            }
        }
    }

    .content{
        .left-content{
            position: relative;
            padding-left: 135px;
            .hero-title+p{
                width: 455px;
                margin-top: 30px !important;
            }
            button{
                width: 265px;
                height: 52px;
                border-radius: 31px;
                padding: 8px 8px 8px 44px;
                i{
                    background: var(--primary);
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                    color: white;
                }
            }
            .review{
                width: 280px;
                height: 95px;
                .star{
                    i{
                        color: #FFC83A;
                    }
                }
                .score{
                    h3{color: var(--primary);}
                }
            }
            .eliment{
                position: absolute;
                left: 0;
                bottom: 150px;
                transform: rotate(-19.16deg);
            }
        }
        .right-content{
            position: relative;
            height: 645px;
            .hero{
                position: absolute;
                bottom: 0;
                right: 0;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    .partner{
        height: 168px;
        background: #F4F5F9;
        img:not(:last-child){
            margin-right: 40px;
        }
    }
    .trip-planning{
        height: 574px;
        flex-direction: column;
        .title{
            text-align: center;
        }
        .card-item{
            width: 272px;
            height: 236px;
            padding: 21px 36px;
            flex-direction: column;
            text-align: center;
            background: #EEF9F2;
            margin: 0 15px;
            border-radius: 12px;
            &>i{
                width: 48px;
                height: 48px;
                background: #58C27D;
                color: white;
                border-radius: 50%;
                font-size: 25px;
            }
        }
    }
    .list{
        .list-item{
            margin-top: 20px;
            display: flex;
            align-items: center;
           &::before{
                content: url('../../image/createTrip/Ellipse-2220.svg');
                width: 20px;
                height: 20px;
                margin-right: 18px;
                display: inline-block;
           }
           &+.sub{
            margin-left: 38px;
           }
        }
    }
    .book-steps{
        padding: 70px 0;
        .create-trip{
            margin-right: 100px;
            border-radius: 39px;
            background: #FEE2B6;
            .your-trip{
                border-radius: 30px;
                overflow: hidden;
                &>div:nth-child(1){
                    width: 363px;
                    p, span{color: white;}
                    background: var(--primary);
                    button{
                        color: inherit;
                        border-radius: 10px;
                        padding: 8px 10px 8px 16px;
                        background: white;
                        width: 250px;
                        height: 38px;
                    }
                    
                }
                &>div:nth-child(2){
                    background: white;
                    font-size: 26px;
                    span{
                        font-size: 14px;
                    }
                }
            }
            .book-content{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
        .book-content{
            width: 538px;
            h1{
                margin-bottom: 25px;
            }
            .list{
                .list-item{
                   &::before{
                        content: url('../../image/createTrip/Ellipse-2220-xanh.svg');
                   }
                }
                padding-bottom: 26px;
                border-bottom: 1px dashed #777E90;
                &+p{
                    font-style: italic;
                }
            }
            .profile{
                display: flex;
            }
        }
    }
    .ez-trip{
        background: #EAF0FF;
        .easy-trip{
            width: 683px;
            margin-right: 112px;
            &>p{
                margin-top: 24px;
            }
        }
        .easy-card{
            width: 374px;
            padding: 31px 24px 29px 24px;
            background: white;
            border-radius: 30px;
            background: white;
            box-shadow: 0px 14px 40px -15px rgba(15, 15, 15, 0.08);
            .info{
                justify-content: flex-start;
                img{
                    margin-right: 17px;
                }
            }
        }
    }
}
